body {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    margin:0;
    background:#000;
    overflow:hidden;
    user-select: none;
}

:root {
    --gradient: linear-gradient(90deg,rgba(5, 165, 225, 1) 0%, rgba(137, 155, 249, 1) 50%, rgba(191, 121, 252, 1) 100%);
    --gradientAlternate: linear-gradient(90deg,rgba(212, 85, 90, 1) 0%, rgba(216, 121, 208, 1) 50%, rgba(195, 123, 255, 1) 100%);
}

.card {
    background: #0c0c0d;
    border-radius:1dvh;
}

.settingsPage {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    color:rgba(0,0,0,0);
    background:rgba(0,0,0,0);
    border:rgba(0,0,0,0);
}

.settingsPage > .title {
    position:absolute;
    left:50%;
    top:4dvw;
    transform:translateX(-50%);
    font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bolder;
    font-size: 4em;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    margin:0;
}

.settingsPage > .playerHolderCard {
    position:absolute;
    left:6dvw;
    top:25%;
    font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight:600;
    font-size:2em;
    color:#FFF;
    width:25%;
    height:50%;
}

.playerHolderCard > .playerTitle {
    position:absolute;
    left:7%;
    top:2.5dvh;
    width:93%;
    height:10%;
}

.playerTitle > .playerIcon {
    position:absolute;
    width:2dvw;
    height:2dvw;
    background:var(--gradient);
    padding:0.5dvw;
    border-radius:0.5dvw;
}
.playerTitle > span {
    position:absolute;
    left:4dvw;
    height:100%;
    line-height:3dvw;
    font-size:1.75dvw;
    vertical-align: middle;
}
.playerTitle > .addPlayer {
    position:absolute;
    width:2dvw;
    height:2dvw;
    background:var(--gradient);
    padding:0.5dvw;
    border-radius:0.5dvw;
    right:3dvh;
}

.playerTitle > .addPlayer:hover {
    cursor:pointer;
}

.playerHolder {
    position:absolute;
    left:7%;
    top:12dvh;
    width:86%;
    height:80%;
    overflow-y:scroll;
    overflow-x:hidden;
}

.playerHolder > .playerCard {
    position:absolute;
    background:#1a1a1b;
    width:95%;
    height:6dvh;
}
.playerCard > .removeButton {
    position:absolute;
    right:1.5dvw;
    top:0.5dvh;
    height:3dvh;
    aspect-ratio: 1/1;
    display:none;
}

.playerCard > .editableLabel {
    position:absolute;
    left:2dvh;
    line-height:6dvh;
    background:transparent;
    border:none;
    color:#FFF;
    font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight:400;
    font-size:2dvh;
}

input:focus {
    outline:none;
}

.playerCard:hover {
    border: 1px solid #FFF;
}
.playerCard:hover .removeButton{
    display:inline-block;
}

.impostorCount {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top:25%;
    font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight:600;
    font-size:2em;
    color:#FFF;
    width:25%;
    height:50%;
}

.impostorCount > .countLabel {
    position:absolute;
    left:7%;
    top:2.5dvh;
    width:93%;
    height:10%;
}

.countLabel > .impostorIcon {
    position:absolute;
    width:2dvw;
    height:2dvw;
    background:linear-gradient(45deg,rgba(212, 85, 90, 1) 0%, rgba(216, 121, 208, 1) 50%, rgba(195, 123, 255, 1) 100%);
    padding:0.5dvw;
    border-radius:0.5dvw;
}
.countLabel > span {
    position:absolute;
    left:4dvw;
    height:100%;
    line-height:3dvw;
    font-size:1.75dvw;
    vertical-align: middle;
}

.impostorCount > #impostorCount {
    position:absolute;
    left:50%;
    top:50%;
    width:10dvw;
    height:10dvw;
    border-radius:1dvw;
    padding:1dvw;
    transform:translate(-50%,-50%);
    aspect-ratio: 1/1;
    font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight:600;
    font-size:4em;
    border:none;
    text-align:center;
    background:var(--gradientAlternate);
    color:transparent;
    background-clip:text;
}

.impostorCount > .subtractIcon {
    position:absolute;
    width:2.5dvw;
    height:2.5dvw;
    background:#1a1a1b;
    padding:0.5dvw;
    border-radius:100%;
    color:#cdcdcd;
    left:25%;
    bottom:15%;
}

.impostorCount > .addIcon {
    position:absolute;
    width:2.25dvw;
    height:2.25dvw;
    background:#1a1a1b;
    padding:0.75dvw;
    border-radius:100%;
    color:#cdcdcd;
    right:25%;
    bottom:15%;
}


.settingsPage > .wordHolderCard {
    position:absolute;
    right:6dvw;
    top:25%;
    font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight:600;
    font-size:2em;
    color:#FFF;
    width:25%;
    height:50%;
}

.wordHolderCard > .wordTitle {
    position:absolute;
    left:7%;
    top:2.5dvh;
    width:93%;
    height:10%;
}

.wordTitle > .wordIcon {
    position:absolute;
    width:2dvw;
    height:2dvw;
    background:var(--gradient);
    padding:0.5dvw;
    border-radius:0.5dvw;
}
.wordTitle > span {
    position:absolute;
    left:4dvw;
    height:100%;
    line-height:3dvw;
    font-size:1.75dvw;
    vertical-align: middle;
}
.wordTitle > .addWord {
    position:absolute;
    width:2dvw;
    height:2dvw;
    background:var(--gradient);
    padding:0.5dvw;
    border-radius:0.5dvw;
    right:3dvh;
}

.wordTitle > .addWord:hover {
    cursor:pointer;
}

.wordHolder {
    position:absolute;
    left:7%;
    top:12dvh;
    width:86%;
    height:80%;
    overflow-x:hidden;
    overflow-y:scroll;
}

.scrollable::-webkit-scrollbar {
    background:transparent;
    width:0.2dvw;
}

.scrollable:-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius:1em;
}
  
  

.wordHolder > .wordCard {
    position:absolute;
    background:#1a1a1b;
    width:95%;
    height:6dvh;
}
.wordCard > .removeButton {
    position:absolute;
    right:1.5dvw;
    top:0.5dvh;
    height:3dvh;
    aspect-ratio: 1/1;
    display:none;
}

.wordCard > .editableLabel {
    position:absolute;
    left:2dvh;
    line-height:6dvh;
    background:transparent;
    border:none;
    color:#FFF;
    font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight:400;
    font-size:2dvh;
}


.wordCard:hover > .removeButton {
    display:inline-block;
}

.startGameHolder {
    position:absolute;
    left:37.5dvw;
    bottom:10%;
    width:20dvw;
    height:3dvw;
    transform:translateY(-50%);
}

.settingsButton {
    position:absolute;
    left:1dvw;
    top:0.5dvw;
    width:2dvw;
    height:2dvw;
    color:#FFF;
    fill:#FFF;
}

.settingsButton:hover {
    cursor:pointer;
}

.startGame {
    position:absolute;
    left:5dvw;
    width:15dvw;
    height:3dvw;
    border-radius:3dvw;
    background:var(--gradientAlternate);
    color:#FFF;
    font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight:500;
    font-size:4dvh;
    text-align:center;
    line-height:3dvw;
}

.startGame:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    inset:0;
    background: var(--gradientAlternate);
    z-index: -1;
    filter: blur(0.3dvw); 
    border-radius: inherit; 
    opacity: 0.8;
    transition:filter 0.25s;
}

.settingsPage > .title::before {
    content: "Impostor";
    background:inherit;
    color:transparent;
    position:absolute;
    left:0;
    top:0;
    inset:0;
    opacity:0.8;
    filter: blur(0.8dvw);
}

.startGame:hover {
    cursor: pointer;
}
.startGame:hover::before{
    filter:blur(0.8dvw);
}

.settingsPopupPage {
    display:none;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    margin:0;
}

.settingsPopupPage > .grayBackground {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:0.4;
    background:#1a1a1b;
}

.settingsPopupPage > .settingsCard {
    position:absolute;
    left:50%;
    top:50%;
    width:30%;
    height:40dvw;
    background:#1a1a1b;
    border-radius:1dvw;
    transform:translate(-50%,-50%);
}

.settingsTitle {
    position:absolute;
    left:50%;
    top:1.5dvw;
    color:#FFF;
    transform:translateX(-50%);
    font-size:3dvw;
    font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight:600;
}

.settingsEntryTitle {
    font-size:2dvw;
    color:#FFF;
    font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight:500;
}

.settingsEntrySwitch {
    position:absolute;
    right: 2dvw;
    top:0dvw;
    width:4dvw;
    height:1.75dvw;
    background: #010101;
    border-radius:1dvw;
    border:1px solid #FFF;
    overflow:hidden;
}

.settingsEntryCheck {
    position:absolute;
    appearance:none;
    left:0;
    top:0;
    width:100%;
    height:100%;
    border-radius:inherit;
    z-index:2;
}


.settingsEntryCheck:hover{
    cursor:pointer;
}

.settingsEntryCheckSlider {
    position:absolute;
    left:-2dvw;
    top:0;
    width:3dvw;
    height:100%;
    background:var(--gradientAlternate);
    transition: left 0.2s;
    z-index:1;
}

.settingsEntryCheck:checked + .settingsEntryCheckSlider {
    left:0dvw;
}

.settingsEntryCheckSlider::before{
    position:absolute;
    right:-1dvw;
    top:0;
    width:2dvw;
    height:100%;
    border-radius:1dvw;
    background:#FFF;
    content:"";
}

.categoriesAllowed {
    position:absolute;
    left:0;
    top:10dvw;
    width:100%;
    height:30dvw;
}

.settingsEntryCategoryCard {
    position:relative;
    left:0dvw;
    width:26dvw;
    height:3dvw;
    margin-top:0.5dvw;
    background:#0b0b0c;
    border-radius:2dvw;
}

.settingsEntryCategoryCard > .settingsEntryTitle {
    position:absolute;
    left:1.5dvw;
    font-size:1.2dvw;
    top:1.5dvw;
    transform:translateY(-50%);
}

.settingsEntryCategoryCard > .settingsEntrySwitch {
    position:absolute;
    right:1dvw;
    top:1.5dvw;
    height:1.5dvw;
    transform:translateY(-50%);
}

.categoryHolder {
    position:absolute;
    left:2dvw;
    top:3dvw;
    width:27dvw;
    height:26dvw;
    overflow-y:scroll;
    overflow-x:hidden;
}

.categoriesAllowedTitle {
    position:absolute;
    left:1.75dvw;
    top:0;
    font-size:1.75dvw;
}


.seeOtherImpostors {
    position:absolute;
    top:6.5dvw;
    width:100%;
    height:2dvw;
}

.seeOtherImpostors > .settingsEntryTitle {
    position:absolute;
    font-size: 1.4dvw;
    left:2dvw;
}

.settingsCard > .backButton {
    position:absolute;
    left:2dvw;
    top:2dvw;
}