.lobbyPage {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    margin:0;
}


.duelButton {
    margin-top:5dvh;
    width:80% !important;
    font-size:2dvh !important;
}

.lobbyPage > .title {
    position:absolute;
    left:50%;
    top:20%;
    transform:translate(-50%,-50%);
    font-size:7dvh;
    color:#EC4E20;
    font-family:Bevan;
    text-align:center;
}


.incomingDuel {
    display:none;
    position:absolute;
    left:10dvw;
    bottom:10dvw;
    width:80%;
    height:18dvh;
    background:#1a1a1b;
    border-radius:2dvw;
}

.incomingDuel > .text {
    position:absolute;
    top:3dvh;
    left:50%;
    transform:translate(-50%);
    color:#FFF;
}

.incomingDuel > .buttons {
    display:flex;
    flex-direction:row;
    position:absolute;
    width:100%;
    bottom:0;
    left:0;
    justify-content:space-between;
}

.buttons > .button {
    margin: 3dvh;
    padding: 0.5em;
    padding-left:0.75em;
    padding-right:0.75em;
    font-size:2dvh;
}