.results {
    position:absolute;
    left:50%;
    top: 40%;
    font-size:3dvh;
    transform:translate(-50%,-50%);
}

.restartButton {
    position:absolute;
    left:50%;
    top:60%;
    transform:translate(-50%,-50%);
    font-size:2.5dvh;
}