
:root {
    --gradient: linear-gradient(90deg,rgba(5, 165, 225, 1) 0%, rgba(137, 155, 249, 1) 50%, rgba(191, 121, 252, 1) 100%);
    --gradientAlternate: linear-gradient(90deg,rgba(212, 85, 90, 1) 0%, rgba(216, 121, 208, 1) 50%, rgba(195, 123, 255, 1) 100%);
    --titleFont: 'Bebas Neue', sans-serif;
    --numFont: Arial, Helvetica, sans-serif;
    --textFont: 'DM Mono', monospace;
}

body, html {
    background:#0a0a0a;
    left:0;
    top:0;
    position:absolute;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.initialPage {
    position:fixed;
    left:100%;
    top:0;
    width:100%;
    height:100%;
    display:flex;
    transition:left 0.3s;
}

.inputCode {
    position:absolute;
    left:50%;
    top:33%;
    transform:translate(-50%,-50%);
    height:10dvh;
    width:auto;
    display:flex;
    gap:3dvh;
    font-size:10dvh;
}

.num {
    width:5dvh;
    height:10dvh;
    background:transparent;
    color:#FFF;
    border:none;
    border-bottom:0.5dvh solid #2c2c2d;
    font-size:8dvh;
    font-family: var(--numFont);
    font-weight:800;
    transition: border 0.3s;
    border-radius:0.02em;
    box-sizing:border-box;     
    -webkit-appearance:none; 
    -moz-appearance:none;   
    appearance:none;
    -webkit-text-size-adjust:100%;
    line-height:1;
    transform:translateZ(0);
    text-align:center;
    resize:none;
    font-family:var(--titleFont);
}

.num:focus {
    border-bottom:0.75dvh solid #FFF;
    outline:none;

}

.button {
    position:absolute;
    width:50%;
    height:5dvh;
    color:#1a1a1b;
    font-size:2.2dvh;
    font-family:var(--titleFont);
    font-weight:500;
    background:#FFF;
    border-radius:1dvh;
    text-align:center;
    line-height:5dvh;
    vertical-align: middle;
    cursor:pointer;
}

.joinButton {
    left:50%;
    top:45%;
    transform:translate(-50%,-50%);
    display:none;
}

.createButton {
    left:50%;
    bottom:25%;
    transform:translate(-50%,-50%);
}

.inputTitle {
    position:absolute;
    left:50%;
    top:20%;
    transform:translate(-50%,-50%);
    font-size:5dvh;
    font-family:var(--titleFont);
    font-weight:500;
    color:#FFF;
    width:100%;
    text-align:center;
}

.or {
    position:absolute;
    left:50%;
    top:60%;
    transform:translate(-50%,-50%);
    font-size:4dvh;
    font-family:var(--titleFont);
    font-weight:500;
    width:100%;
    text-align:center;
    color:#FFF;
}



input {
    -webkit-appearance: none; 
    -moz-appearance: none;   
    appearance: none;
    -webkit-text-size-adjust: 100%;
    zoom:1
  }

.initialPage {
    zoom:1;
    transform:none
}