
:root {
    --gradient: linear-gradient(90deg,rgba(5, 165, 225, 1) 0%, rgba(137, 155, 249, 1) 50%, rgba(191, 121, 252, 1) 100%);
    --gradientAlternate: linear-gradient(90deg,rgba(212, 85, 90, 1) 0%, rgba(216, 121, 208, 1) 50%, rgba(195, 123, 255, 1) 100%);
}

.testPage {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    transition:left 0.3s;
}

body::-webkit-scrollbar {
    background:transparent;
    width:0.2dvw;
}

body:-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius:1em;
}

.introText {
    position:absolute;
    left: 50%;
    top:5%;
    width:100%;
    text-align:center;
    overflow-x:wrap;
    color:#FFF;
    font-family:var(--titleFont);
    font-weight:600;
    transform:translateX(-50%);
    font-size:5dvh;
    border-bottom:0.3dvh solid #1a1a1b;
}

.introText > .redText {
    color:#882222;
    font-size:8dvh;
}

.introSubtitle {
    position:absolute;
    left: 50%;
    top:17.5%;
    width:80%;
    text-align:center;
    overflow-x:wrap;
    color:#888;
    font-family:var(--textFont);
    font-weight:600;
    transform:translateX(-50%);
    font-size:2dvh;
}

.introSubtitle > .redText {
    color:#882222;
}

.questionHolder {
    display:flex;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    justify-content: flex-start;
    flex-direction:column;
    position:absolute;
    width:90%;
    top:25%;
}

.questionHolder > .question {
    display:flex;
    flex-direction:row;
    height:5dvh;
    align-items: center;
    gap:1.5dvh;
    border-radius:0.5dvh;
    margin:0.66dvh;
    padding:0.34dvh;
    padding-left:0.5dvh;
    padding-right:0.5dvh;
}

.question[checked="true"] {
    background:#220a0a;
    border:0.3dvh solid #ff3c3c;
}


.questionCheckbox {
    display:flex;
    align-items:center;
    justify-content: center;
    border: 0.3dvh solid #FFF;
    border-radius: 0.3dvh;
    cursor: pointer;
    width:3dvh;
    height:3dvh;
    order:0;
}

.questionCheckbox > .interior {
    position:absolute;
    width:3dvh;
    height:3dvh;
    stroke:#FFF;
    stroke-width:0.08dvh;
    opacity:0;
}

.question[checked="true"] .interior {
    opacity:1;
}

.submitTestButton {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10dvh;
    width:50%;
    height:5dvh;
    color:#1a1a1b;
    font-size:2.2dvh;
    font-family:var(--titleFont);
    font-weight:500;
    background:#FFF;
    border-radius:0.5dvh;
    text-align:center;
    line-height:5dvh;
    vertical-align: middle;
    cursor:pointer;
}


.questionHolder > .question > .questionText {
    line-height:2.5dvh;
    vertical-align: middle;
    color:#FFF;
    font-family:var(--textFont);
    font-weight:400;
    font-size:1.8dvh;
    order:2;
    flex:1;
}

.nameLabel {
    width:70dvw;
    height:3dvh;
    color:#FFF;
    font-size:2.5dvh;
    font-family:var(--titleFont);
    font-weight:400;
    margin-top:3dvh;
    margin-left:10dvw;
    margin-right:10dvw;
}

.nameHolder {
    background:#000;
    width:70dvw;
    height:3dvh;
    border-radius:0.5dvh;
    border: 3px solid #2c2c2d;
    transition: border 0.3s;
    color:#FFF;
    font-size:2dvh;
    font-family:var(--textFont);
    font-weight:400;
    text-indent:1dvh;
    margin-bottom:3dvh;
    margin-left:10dvw;
    margin-right:10dvw;
}

.nameHolder:focus {
    outline:none;
    border: 0.2dvh solid #FFF;
}

.confessHolder:focus {
    outline:none;
    border: 0.2dvh solid #FFF;
}

.confessLabel {
    width:70dvw;
    height:3dvh;
    color:#FFF;
    font-size:2.5dvh;
    font-family:var(--titleFont);
    font-weight:400;
    margin-top:3dvh;
    margin-left:10dvw;
    margin-right:10dvw;
}

.confessHolder {
    background:#000;
    width:70dvw;
    height:3dvh;
    border-radius:0.5dvh;
    border: 3px solid #2c2c2d;
    transition: border 0.3s;
    color:#FFF;
    font-size:2dvh;
    font-family:var(--textFont);
    font-weight:400;
    text-indent:1dvh;
    margin-bottom:1dvh;
    margin-left:10dvw;
    margin-right:10dvw;
}
